<!--The content below is only a placeholder and can be replaced.-->

<div class="wrapper">
  <div class="header">
    <div class="leftHeader"></div>
    <div class="mainHeader">
      <span class="title">Animation Playground</span>
    </div>
    <div class="rightHeader"></div>
  </div>
  <div class="body">
    <div class="leftNav"></div>
    <div class="mainNav">
      <router-outlet></router-outlet>
    </div>
    <div [@float] class="rightNav"></div>
  </div>
  <div class="footer">
    <div class="footerLeft"></div>
    <div class="footerMain"></div>
    <div class="footerRight"></div>
  </div>
</div>
