.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    flex: 1;
    display: flex;
    flex-direction: row;


    .leftHeader {
      flex: 1;
      z-index: 3;
      background: #4AB285;
      box-sizing: border-box;
      box-shadow: 1px 2px 2px -2px rgba(0, 0, 0, 0.5);
    }

    .mainHeader {
      flex: 6;
      background: #FFDC8F;
      box-shadow: 0px -4px 6px 3px rgba(0, 0, 0, 0.5);
      z-index: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      

      .title {
        font-family: 'playgroundAlt';
        font-size: 5rem;
        font-weight: 100;
        color: #4AB285;
        text-shadow: 0px 2px 2px black;
      }
    }
    

    .rightHeader {
      flex: 1;
      z-index: 3;
      background: #9441B2;
      box-sizing: border-box;
      box-shadow: -3px 2px 2px -2px rgba(0,0,0,0.5);
    }
  }

  .body {
    flex: 4;
    display: flex;
    flex-direction: row;

    .leftNav {
      flex: 1;
      box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.5);
      z-index: 1;
      background: #9441B2;
    }

    .rightNav {
      flex: 1;
      box-shadow: 0px -2px 11px -2px rgba(0, 0, 0, 0.5);
      background: #4ACC94;
    }

    .mainNav {
      flex: 6;
      background: #DA76FF;
    }
  }

  .footer {
    flex: 1;
    display: flex;

    .footerLeft {
      flex: 1;
      z-index: 4;
      background: #FFDC8F;
      box-shadow: 1px -1px 9px -2px rgba(0,0,0,0.5);
    }

    .footerMain {
      flex: 6;
      background: #4AB285;
      box-shadow: 0px 6px 8px 3px #000000;
      z-index: 1;
    }

    .footerRight {
      flex: 1;
      z-index: 4;
      background: #9441B2;
      box-shadow: -3px -1px 9px -2px rgba(0, 0, 0, 0.5);
    }
  }
}