 <div class="wrapper">
  <div class="header">
    <div class="headerCard"  >
      <span (click)="startAnimation()" class="headerText">Spining</span>
    </div>
  </div>
  <div class="body">
      <!-- [@button]="stateName" -->
    <!-- <div [@spinner]="stateName" (@spinner.done)="onDone($event)" class="leftWing"></div>
    <div [@spin]="stateName"  (@spin.done)="onDone($event)" class="rightWing">
      <div class="red"></div>
      <div class="green"></div>
      <div class="blue"></div>
    </div> -->
  </div>
  <!-- <button  (click)="toggle()" pButton type="button" label="Click" ></button> -->
</div>