<!--The content below is only a placeholder and can be replaced.-->

<div class="wrapper">
  <div class="header">
    <div [@menuBar]="stateName" class="leftHeader"></div>
    <div class="mainHeader" [@titleAlt]="stateName">
      <span class="title">Animation Playground</span>
    </div>
    <div [@menuBarAltThree]="stateName" class="rightHeader"></div>
  </div>
  <div class="body">
    <div [@menuStateAlt]="stateName" class="leftNav"></div>
    <div class="mainNav">
    </div>
    <div [@menuState]="stateName" class="rightNav"></div>
  </div>
  <div class="footer">
    <div [@menuBarAltTwo]="stateName" class="footerLeft"></div>
    <div [@title]="stateName" class="footerMain"></div>
    <div [@menuBarAlt]="stateName" class="footerRight"></div>
  </div>
</div>
