.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .header {
    flex: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


  }

  .body {
    flex: 6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.rightWing {
  background: blue;
  width: 200px;
  height: 20px;
  position: relative;
  top: -20px;
  // transform: rotate(-270deg);
  display: flex;
}

.leftWing {
  background: red;
  width: 200px;
  height: 20px;
  position: relative;
}

.red {
  flex: 1;
  background: red;
}

.green {
  flex: 3;
  background: green;
}

.blue {
  flex: 1;
  background: blue;
}

.headerCard:active {
  width: 70%;
  background: #4AB285;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 0px rgba(0 , 0,0,0.5);
  cursor: pointer;
}

.headerCard {
  width: 70%;
  background: #4AB285;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 6px -1px rgba(0 , 0,0,0.5);
  cursor: pointer;

  .headerText {
    font-family: monospace;
    font-size: 3.5rem;
    padding: .5rem;
  }
}