/* You can add global styles to this file, and also import other style files */

body, html {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: playground;
  src: url(assets/fonts/Playgrounds.ttf) format("opentype");
}

@font-face {
  font-family: playgroundAlt;
  src: url(assets/fonts/PlayGround.ttf) format("opentype");
}